---
import Layout from "./Layout.astro";

export interface Props {
  frontmatter: {
    title: string;
    date?: string;
  };
}

const { frontmatter } = Astro.props;
---


<Layout
  title={frontmatter.title}
  heading={frontmatter.title}
  lead={frontmatter.date}
  heroBg="linear-gradient(rgba(5, 5, 6, 0.7), rgba(5, 5, 6, 0.7)), url('https://images.unsplash.com/photo-1512314889357-e157c22f938d?w=1600&auto=format&fit=contain&q=10')"
>
  <main id="main-content" class="py-5 m-2 lh-lg h-100 w-75 m-auto">
    <slot />
  </main>
</Layout>
